<% if @error == 'fatal' %>
  <h1>予期しないエラーが発生しました。</h1>

  <p>
    リクエストを処理できませんでした。<br>
    管理者に通知しましたので、連絡があるまでしばらくお待ちください。
  </p>
<% elsif @error == 'already' %>
  <h1>メールアドレスは確認済みです。</h1>

  <p>
    あなたのELMSメールアドレス：<%= @user.user_email %> はすでに確認されています。<br>
    管理者による承認をお待ちください。
  </p>
<% else %>
  <h1>北医ネットにようこそ！</h1>

  <p>
    ELMSメールアドレス：<%= @user.user_email %> の確認に成功しました。<br>
    ユーザーとして利用するために、管理者に対して登録の承認をリクエストしました。<br>
    管理者があなたのリクエストを承認すると、このメールアドレスに通知されます。<br>
    24時間以内に承認の通知がない場合は、管理者にご連絡ください。
  </p>
<% end %>
