<h1>確認クイズ</h1>

<h3><%= @vocabulary.vocabulary_name %></h3>

<div id="vocabulary-form">
  <%= link_to 'Start!!', "/vocabularies/#{@vocabulary.id}/quizzes.json", id: 'vocabulary-start', class: 'btn btn-primary', remote: true %>
  30問の問題セットをスタートします。
</div>

<div id="vocabulary-quiz" style="display: none;">
  <div id="vocabulary-quiz-question">
    <span></span>
  </div>
  <div id="vocabulary-quiz-answer">
    <input type="text"></input><br>
    <input type="submit" class="btn btn-primary" value="解答" id="vocabulary-quiz-submit"><br>
    <span id="vocabulary-quiz-judge"></span><br>
    <input type="submit" class="btn btn-primary" value="次の問題" id="vocabulary-quiz-next">
  </div>
  <div id="vocabulary-result">
    Completed!<br>
    <span></span>
  </div>
</div>

<% @vocabulary_page = 'active' %>
