// Place all the styles related to the terms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.timetable-modal {
    position: absolute;
    top: 10%; left: 30%;
    width: 1200px;
}
